.footer {
  color: #404040;
  background-color: #ddf7eb;
  text-align: center;
  width: 100%;
  height: 100px;
}

.footer p {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  padding-bottom: 10px;
  line-height: 35px;
}

.footer p a {
  color: black;
  font-size: 200%;
}